PORT=80
JWT_SECRET=please-change-me
JWT_EXPIRES_IN=8h
SESSION_COOKIE_NAME=campus.sid
SESSION_MAX_AGE_MS=28800000
SSO_BASE_URL=https://sso.sigs.tsinghua.edu.cn
SSO_CLIENT_ID=xxx
SSO_CLIENT_SECRET=
SSO_REDIRECT_URI=http://localhost:3001/sso/callback
MINIMAX_API_KEY=
MINIMAX_GROUP_ID=
MINIMAX_MODEL=abab6.5s-chat
DATAHUB_BASIC_PERSON_URL=https://api.sigs.tsinghua.edu.cn/v1/basic/api_basic_person
DATAHUB_API_KEY=
DATAHUB_SERVICE_ID=
